<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/categories' %>
  </div>
  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a></li>
      <li class="active"><%= @product.category.parent.title %></li>
      <li><a href="<%= category_path @product.category %>"><%= @product.category.title %></a></li>
      <li class="active"><%= @product.title %></li>
    </ol>
    <h1><%= @product.title %></h1>
    <div class="row">
      <% @product.product_images.each do |product_image| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail detail">
            <%= image_tag product_image.image.url(:middle) %>
          </a>
        </div>
      <% end -%>
    </div>

    <ul class="list-unstyled">
      <li>商品编号: <%= @product.uuid %></li>
      <li>库存: <%= @product.amount %></li>
    </ul>
    <h3><strong>¥<%= @product.price %></strong> <span class="msrp">¥<%= @product.msrp %></span></h3>
    <p>数量: <input type="text" name="amount" value="1" /></p>
    <p><%= show_add_to_cart @product %></p>

    <br />
    <br />
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="javascript:;">商品描述</a></li>
    </ul>
    <br />
    <div>
      <%= @product.description.html_safe %>
    </div>
    <br />
    <div>
      <%= form_for @comment, url: comments_path, method: :post, html: { class: "form-horizontal" } do |f| %>
        <% unless @comment.errors.blank? %>
          <div class="alert alert-danger">
            <ul>
              <% @comment.errors.messages.values.flatten.each do |error| %>
                <li><%= error %></li>
              <% end -%>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <p>评论内容：</p>
          <div>
            <%= f.text_area :content, class: "form-control" %>
          </div>
        </div>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "提交", class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>
    <div>
      <p>所有评论</p>
      <div id="comments-list"></div>
      <a href="javascript:;" data-next-page data-ori-html data-url="<%= comments_path %>" data-product-id="<%= @product.id %>" data-container="#comments-list" class="more-btn">更多</a>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $('.more-btn').click(function () {
      var $this = $(this),
          nextPage = $this.data('next-page') || 1;
      if (nextPage == -1)
        return;

      $.ajax({
        url: $this.data('url'),
        dataType: 'json',
        data: {
          page: nextPage,
          product_id: $this.data('product-id')
        },
        beforeSend: function () {
          $this.data('ori-html', $this.html()).html('Loading...');
        },
        success: function (data) {
          $this.data('next-page', data.msg.next_page);
          if (data.msg.next_page == -1) {
            $this.addClass('nomore');
          }

          $($this.data('container')).append(data.msg.html);
        },
        complete: function () {
          $this.html($this.data('ori-html'));
        }
      })
    })
    .trigger('click');  // load first page when page loaded
  </script>
<% end %>